body {
  background-color: #eeeeee;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@media (min-width: 550px) {
  .main {
    padding: 0 10%;
  }
}
@media (min-width: 800px) {
  .main {
    padding: 0;
    margin: 0 auto;
    width: 600px;
  }
}
.site-title {
  color: #cccccc;
  text-shadow: -1px -1px 0px #a6a6a6, 1px 1px 0px #ffffff;
  text-align: center;
  font-size: 4em;
}
.to-do {
  border: 1px solid #aaa;
  list-style: none;
  padding: 0;
  border-top: 10px solid #847670;
}
.to-do li {
  border: 1px solid #aaa;
  padding: 1em;
}
.site-footer {
  color: #cccccc;
  text-align: center;
}
@media (min-width: 550px) {
  .site-footer {
    padding: 0 10%;
  }
}
@media (min-width: 800px) {
  .site-footer {
    padding: 0;
    margin: 0 auto;
    width: 600px;
  }
}
.view {
  width: 80%;
  border: 1px solid #000;
  float: right;
}
.checkbox {
  width: 15%;
  border: 1px solid #000;
  float: left;
}
