/* 
Authors: 
  Jason
  Sam
 */

// VARIABLES

@dark-gray: #777;
@medium-gray: #999;
@light-gray: #ccc;
@lighter-gray: #eee;
@lightest-gray: #efefef;
@red: #f47575;

// MIXINS

.letterpress(@color) {
  text-shadow: -1px -1px 0px darken(@color, 15%), 
    1px 1px 0px lighten(@color, 20%);
}
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

// STYLES

body {
  background-color: @lighter-gray;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.main {
  @media (min-width: 550px) {
    padding: 0 10%;
  }
  @media (min-width: 800px) {
    padding: 0;
    margin: 0 auto;
    width: 600px;
  }
}
.site-title {
  color: @light-gray;
  .letterpress(@light-gray);
  text-align: center;
  font-size: 4em;
  
}
.to-do {
  border: 1px solid #aaa;
  list-style: none;
  padding: 0;
  border-top: 10px solid #847670;
  li {
    border: 1px solid #aaa;
    overflow: hidden;
    background-color: #fff;
    color: @medium-gray;
  }
}
.site-footer{
  color: @light-gray;
  text-align: center;
  @media (min-width: 550px) {
    padding: 0 10%;
  }
  @media (min-width: 800px) {
    padding: 0;
    margin: 0 auto;
    width: 600px;
  }
}
.view{
  width: 84%;
  border-left: 1px solid @red;
  float: right;
  box-sizing: border-box;
  padding: 1em;
  line-height: 2em;
}
.checkbox{
  width: 15%;
  float: left;
  box-sizing: border-box;
  padding: 1em;
  border-right: 1px solid @red;
  height: 4em;
}